@using DataAccess.Model
@model Order

@{
    ViewBag.Title = "FinishingOrder";
}

@Html.ValidationSummary()

<h2>Objednavka</h2>

@using (Html.BeginForm("SendingOrder", "Cart", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.OrderDate)
    @Html.HiddenFor(x => x.OrderedPizza)
    @Html.HiddenFor(x => x.PizzaCount)
    @Html.HiddenFor(x => x.Price)

    <div class="form-group">
        <label class="col-sm-2 control-label">Jmeno</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CustomerName)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Adresa</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.CustomerAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CustomerAddress)
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Pizza</th>
            <th>Mnozstvi</th>
            <th>Celkem</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td>@Model.OrderedPizza</td>
            <td>@Model.PizzaCount</td>
            <td>@Model.Price.ToString("##.###")</td>
            <td></td>
            <td>@Html.ActionLink("Odebrat z kosiku", "RemoveFromCart", "Cart", null, new { @class = "btn btn-danger" })</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div style="margin-top: 20px;" class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Dokoncit objednavku</button>
        </div>
    </div>

    <h3>Celkem: @Model.Price.ToString("##.###") Kc</h3>
}

